   <section class="container">
    <div>
        <div>
            <% page.posts.each(function(post){ %>
                <%- partial('article', {post: post, index: true}) %>
            <% }) %>
        </div>
        <% if (page.total > 1){ %>
          <div class="pagination text-align">
              <div class="btn-group">
                  <%- paginator({
                      show_all: true,
                      prev_text: '&laquo;',
                      next_text: '&raquo;'
                  }) %>
              </div>
          </div>
        <% } %>
    </div>
    <div style="position: absolute; top: -20px; right: -40px;">
      <%- partial('_widget/sidebar-search') %>
    </div>

</section>
