<section class="container">
    <div class="columns">
      <article class="article-content markdown-body">
          <%- post.content %>
      </article>
      <% if(page.comment == undefined ? true : page.comment) {%>
          <%if(theme.disqus_username){%>
              <%- partial('_widget/disqus-comments',{
                  key: post.slug,
                  title: post.title,
                  url: config.url+url_for(post.path)
              }) %>
          <%} else {%>
              <%- partial('_widget/duoshuo-comments',{
                  key: post.slug,
                  title: post.title,
                  url: config.url+url_for(post.path)
              }) %>
          <%}%>
      <%}%>
    </div>
</section>
