<footer class="container">
    <div class="site-footer" role="contentinfo">
        <div class="copyright left mobile-block">
                &copy; <%= date(new Date(), 'YYYY') %>
                <a href='/'>blog.dzyhenry.com</a> |
                <span>Powered by <a href="https://hexo.io/">Hexo</a></span>
                <span>base on theme <a href="https://github.com/yumemor/hexo-theme-primer">hexo-theme-primer</a></span>
                <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
        </div>

        <ul class="site-footer-links right mobile-hidden">
            <li>
                <a href="javascript:window.scrollTo(0,0)" >TOP</a>
            </li>
        </ul>
    </div>
</footer>
