<article id="<%= post.layout %>-<%= post.slug %>" class="repo-list">
  <div class="repo-list-item" >
    <h3 class="repo-list-name" itemprop="name">
      <%- partial('post/title', {class_name: 'article-title'}) %>
    </h3>
</article>
